img, embed, object, video {
  max-width: 100%;
}

/* small screens */
@media screen and (max-width: 500px) {
  .choiceOfCatsContainer {
    margin-left: auto;
    margin-right: auto;
  }
}

/* medium & large screens */
@media screen and (max-width: 835px) {
  .catClicker {
    background-color: pink;
  }

  .selectedCatContainer {
    order: 1;
    margin-left: auto;
    margin-right: auto;
  }

  .choiceOfCatsContainer {
    order: 2;
    margin-left: auto;
    margin-right: auto;
  }
}
