body {
  font-family: Century Gothic, sans-serif;
}

img {
  max-width: 600px;
  max-height: 400px;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.hidden {
  visibility: hidden;
}

.imageContainer {
  border: 5px solid rgba(87, 222, 23, 1);
  width: 600px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}

.clickContainer {
  border: 2px solid blue;
  width: 150px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  text-align: center;
}

.aboutContainer {
  width: 200px;
  border: 1px solid red;
}
